body {
    min-height: 100vh;
    background-image: url(./assets/mainBG.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrap-editor {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.wrap-editor i {
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.wrap-editor i:hover {
    color: rgb(109, 206, 190);
    transition: all .5s ease-in-out;
}

.calc-btn{
    margin: 20px auto 20px !important;
}

.mr-5 {
    margin-right: 5px !important;
}
.ml-5 {
    margin-left: 5px !important;
}

.overflow-block{
    overflow: hidden !important;
}

.add-overvlow{
    overflow-x: auto !important;
}

.max-content{
    min-width: max-content !important;
}

#root{
    background: #00000044 !important;
    min-height: 100vh;
    height: 100%;
}