body {
    min-height: 100vh;
    /* background-image: url(./assets/mainBG.jpg); */
    background-size: 100% 100%;
}

.wrap-editor {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.wrap-editor i {
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.wrap-editor i:hover {
    color: rgb(109, 206, 190);
    transition: all .5s ease-in-out;
}

.calc-btn{
    margin: 20px auto 0 !important;
}